/node_modules
/packages/*/lib
/packages/*/dist
/packages/*/node_modules
/coverage
/.nyc_output
/.changelog
/dist
.DS_Store
.nuxt
.nuxt-production
.nuxt-test
.now
**/*.less.d.ts
**/*.css.d.ts
report.*.json
output.txt
/examples/*/dist
/examples/*/node_modules
/examples/*/yarn.lock
/examples/*/app/public
/examples/*/logs
/examples/*/run
/examples/*/.idea
